;(() => {
  const config = {
    enableSearch: true,
    isRootChannelSelectableAsParentChannel: true,
    skyway: {
      apiKey: '{{traq.webrtc.api_key}}',
    }
  }

  self.traQConfig = config
})()